.main-header {
    min-height: 4.5rem;
    background-color: var(--bg-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: 700;

    .header-content {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-align: center;

        .header-logo {
            height: 3rem;
            width: auto;
        }

        .logo-section {
            h1 {
                font-size: 1.85rem;
                margin: 0;
                font-weight: 700;
            }

            p {
                font-size: 1rem;
                margin: 0.5rem 0 0 0;
                font-weight: 400;
                opacity: 0.9;
            }
        }
    }
}
